.pt-10 {
  padding-top: 10px;
}

.weekly-top-products-wrapper {
  .title {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--text-color);
    padding-left: 10px;
    h3 {
      font-weight: 500;
      align-self: center;
    }
  }
  .table-wrapper {
    padding: 10px;

    .action-container {
      .title {
        color: var(--text-color);
        margin-bottom: 10px;
        h3 {
          font-weight: 500;
        }
      }
      .btn-add-new {
        color: var(--white-color);
        background-color: var(--btn-primary);
      }
    }

    .action-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .action-search {
        margin-right: 8px;
      }
    }
    .images-table {
      object-fit: cover;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: 1px solid var(--bg-white-color);
    }

    .border-right {
      position: relative;
      width: 300px;
      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 2rem;
        background-color: rgb(226 232 240);
        width: 1px;
        margin: auto 0;
      }
    }

    .btn-edit {
      color: var(--btn-edit);
      text-transform: capitalize;
      margin-right: 10px;
    }
    .btn-delete {
      text-transform: capitalize;
      color: var(--btn-delete);
    }
    .btn-is-active {
      text-transform: capitalize;
      color: var(--btn-active);
    }
  }
}
