.div1 {
  /* Màu gốc của div 1 */
  background-color: blue;
}

.div1.active {
  /* Màu khi div 1 có class "active" */
  background-color: red;
}

.div2 {
  /* Màu gốc của div 2 */
  background-color: green;
}
