.products-edit-wrapper {
  padding: 10px;

  .title {
    margin-bottom: 10px;
    padding: 20px 0;
    color: var(--text-color);
    h3 {
      font-weight: 500;
    }
  }

  .content-items {
    margin-bottom: 20px;
    background-color: var(--white-color-outline);
    border-radius: 10px;
    padding: 20px;
    .item {
      border: 1px solid var(--grey-border-item);
      border-radius: 10px;
      overflow: hidden;
      .item-title {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 0;
        p {
          color: var(--text-color);
        }
      }

      .item-title-content {
        margin-top: 20px;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // align-items: center;

        .item-title-content-aside {
          max-width: 250px;
          width: 100%;
          padding-right: 20px;
          .aside-text-info {
            strong {
              color: var(--text-color);
            }
            display: flex;
            font-size: 14px;
            align-items: center;
            flex-wrap: wrap;
            p {
              font-size: 12px;
              margin-left: 10px;
              background-color: var(--required-bg);
              padding: 2px 5px;
              border-radius: 3px;
            }
          }
        }

        .aside-text-tip {
          margin: 15px 0;

          font-size: 12px;
          color: var(--grey-color-text);
          line-height: 20px;
          p {
            margin-top: 10px;
          }
        }

        .item-title-content-main {
          flex: 1;
          border-radius: 10px;
          display: flex;
          justify-content: center;
        }

        .fl-start {
          justify-content: flex-start;
        }

        .item-title-content-main-img {
          flex: 1;
          border-radius: 10px;
          border: 2px dashed var(--grey-border-dash);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .main-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .img-item {
              position: relative;
              &:hover {
                scale: 1.05;
                transition: all ease-in 0.2s;
              }

              .img-item-icon {
                position: absolute;
                top: 0;
                right: 0;
                color: rgb(255, 255, 255);
              }
              img {
                border-radius: 12px;
                object-fit: cover;
                height: 112px;
                width: 180px;
                padding: 5px;
              }
            }
          }
        }
      }
    }
  }
}
