@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --primary-color: rgba(49, 46, 129, 1);
  --primary-light: rgba(129, 127, 199, 0.314);
  --primary-light2: rgba(129, 127, 199, 0.5);

  --black-color: #000;
  --text-color: #1e293b;
  --white-color: #fff;
  --bg-white-color: #f1f5f9;
  --grey-color: #64748b;
  --grey-border: #b3b3b3;
  --grey-border-half: #b3b3b33a;
  --grey-bg: #e2e8f0;

  --btn-edit: #1e293b;
  --btn-delete: #b91c1c;
  --btn-active: #059669;
  --btn-primary: #44418c;

  --scroll-bar-color: #312e8179;
  --box-shadow: 1px 1px 10px #0000000b !important;

  --font-family: "IBM Plex Sans", sans-serif;

  background-color: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color) !important;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
  height: 100%;
  max-height: 100vh;
}

//Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--scroll-bar-color);
}

a {
  text-decoration: none;
}

body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }

  .tippy-box[data-placment^="bottom"]>.tippy-arrow::before {
    top: -8px;
  }
}

.my-datatable-custom {
  // overflow: auto;
  display: flex;
  margin-top: 20px;

  .MuiDataGrid-root {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .MuiDataGrid-columnHeaders {
      background-color: var(--primary-light2);
    }

    .MuiDataGrid-footerContainer {
      // background-color: #eaeaea;
    }
  }
}