// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .body {
    flex-direction: unset;
    .cart {
      min-height: 40vh;
    }
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    .body {
      .items-wrapper {
        .items-body {
          justify-content: center;
        }
      }
    }
  }
}
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

.wrapper {
  .body {
    .categories-wrapper {
      padding: 10px 10px 0 10px;

      .header-title {
        h3 {
          font-weight: 700;
          margin-left: 10px;
        }
      }

      .categories-body {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;

        .categories-list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100px;
          height: 100px;

          img {
            height: 70%;
            width: 70%;
          }

          p {
            text-transform: capitalize;
            margin-top: 5px;
            font-weight: 700;
            color: var(--text-color);
          }
        }
      }
    }

    .items-wrapper {
      padding: 0px 10px;

      .header-title {
        h3 {
          font-weight: 700;
          margin-left: 10px;
        }
      }

      .items-body {
        max-height: 62vh;
        height: 100%;
        overflow: auto;
        display: flex;
        // justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  .aside {
    padding: 0 10px;
    position: sticky;
    top: 0;

    .aside-wrapper {
      .header-title {
        margin-top: 10px;

        h3 {
          font-weight: 700;
        }
      }

      .body {
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        height: 90vh;

        .cart {
          flex-grow: 1;
          overflow: auto;
          width: 100%;
          box-shadow: $shadow;
          // min-height: 37vh;

          .cart-item {
            width: 100%;
            height: 80px;
            border-radius: 10px;
          }
        }

        .total-payment {
          margin: 10px 0 0 0;

          .total {
            background-color: var(--white-color);
            padding: 10px;
            border-radius: 10px;
            box-shadow: $shadow;
          }

          .payment {
            .header-title {
              margin-top: 0;
            }

            margin-top: 10px;
            background-color: var(--white-color);
            padding: 10px;
            border-radius: 10px;
            box-shadow: $shadow;
          }

          .footer {
            margin: 10px 0 0 0;
            display: flex;
            align-items: flex-end;
            height: 55px;
          }
        }
      }
    }
  }
}
