// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .body {
    flex-direction: unset;
    .cart {
      min-height: 40vh;
    }
  }
}

$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

.wrapper {
  .body {
    display: flex;
    height: 88vh;
    flex-direction: column;

    .categories-wrapper {
      padding: 10px 10px 0 10px;
      .header-title {
        h3 {
          font-weight: 600;
          margin: 0px 10px 10px 10px;
        }
      }

      .categories-body {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        border-radius: 10px;
        box-shadow: $shadow;
        background-color: var(--white-color);

        .button-group {
          display: flex;
          overflow: auto;

          &::-webkit-scrollbar {
            border-radius: 0;
            height: 8px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: var(--scroll-bar-color);
          }

          .button {
            border-radius: 10px !important;
            box-shadow: var(--box-shadow);
            margin: 10px 10px !important;
            border: 2px solid var(--grey-border-half) !important;

            &.Mui-selected,
            &.Mui-selected:hover {
              color: var(--primary-color);
              background-color: var(--white-color);
              border: 2px solid var(--primary-color) !important;
            }
          }
        }

        .categories-list-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 80px;
          height: 75px;

          img {
            height: 60%;
            width: 60%;
            object-fit: cover;
          }

          p {
            text-transform: capitalize;
            margin-top: 5px;
            font-weight: 600;
            color: var(--text-color);
          }
        }
      }
    }

    .items-wrapper {
      display: flex;
      flex-direction: column;

      flex-grow: 1;
      overflow: auto;

      .header-title-items {
        position: sticky;
        top: 0;

        h3 {
          font-weight: 600;
          margin: 10px 0 5px 10px;
        }
      }

      .items-body {
        overflow: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 10px;
        box-shadow: $shadow;
        background-color: var(--white-color);
        flex-grow: 1;

        .item-card {
          display: block;
          margin: 10px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          background-color: var(--white-color);

          &:hover {
            cursor: pointer;
            background-color: var(--primary-light);
            -webkit-transition: background-color 0.2s linear;
            -ms-transition: background-color 0.2s linear;
            transition: background-color 0.2s linear;
          }
        }
      }
    }
  }

  .aside {
    padding: 0 10px;
    position: sticky;
    top: 0;

    .aside-wrapper {
      .header-title {
        // margin-top: 10px;
        height: 64px;
        display: flex;
        align-items: center;

        h3 {
          font-weight: 600;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        height: 88vh;

        .cart {
          flex-grow: 1;
          overflow: auto;
          width: 100%;
          border-radius: 10px;
          box-shadow: $shadow;
          background-color: var(--white-color);
          padding: 0 10px 10px 10px;
          margin-top: 10px;

          .data-card {
            display: flex;
            align-items: center;
            background-color: transparent;
            box-shadow: none;
            padding: 5px 0;
            border-radius: 0;
            border-bottom: 1px solid #e5e5e5;

            .image {
              width: 100px;
              height: 100%;
              object-fit: cover;
              border-radius: 15px;
            }

            .content {
              flex: 1 0 auto;
              padding: 10px 10px 0 10px;
            }
          }
        }

        .total-payment {
          margin: 10px 0 0 0;

          .total {
            background-color: var(--white-color);
            padding: 10px;
            border-radius: 10px;
            box-shadow: $shadow;
          }

          .payment {
            .header-title-payment {
              margin-top: 0;
            }

            margin-top: 10px;
            background-color: var(--white-color);
            padding: 10px;
            border-radius: 10px;
            box-shadow: $shadow;
          }

          .footer {
            margin: 10px 0 0 0;
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
}
