.main-box {

  //Scrollbar CSS
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  .wrapper {
    padding: 20px;

    .modal-box {
      margin-bottom: 20px;
      background-color: var(--white-color);
      border-radius: 10px;
      border: 1px solid #e2e8f099;
      padding: 10px;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 600;
      }

      .contents {
        flex: 1;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .item-content {
          padding: 5px 0;

          .validation-text {
            margin-top: 0;
          }
        }
      }
    }
  }

}