.divider {
  padding: 10px 0;
}

.category-list-parent {
  color: var(--white-color);
  &.active {
    color: var(--text-color);
    // background-color: var(--bg-white-color);
    background-color: #2c2974;
    border-radius: 999;
    svg {
      color: var(--white-color);
    }
    // &:hover {
    //   background-color: var(--bg-white-color);
    //   opacity: 1;
    // }
  }
}

.category-list-item-child,
.category-list-item {
  text-decoration: none;
  color: var(--white-color);
  position: relative;

  &.active {
    color: var(--text-color);
    svg {
      color: var(--primary-color);
    }
    li {
      background-color: var(--bg-white-color);
      width: calc(100% + 23px);
      border-top-left-radius: 999px;
      border-bottom-left-radius: 999px;
      &:hover {
        background-color: var(--bg-white-color);
        opacity: 1;
      }
      &::after {
        content: "";
        height: 30px;
        width: 30px;
        background-image: url(../../assest/svg/icon1.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: -0px;
        right: 0;
        // transform: rotate(90deg);
        rotate: 90deg;
        z-index: 10;
        scale: 1.04;
        margin-top: -30px;
      }
      &::before {
        content: "";
        height: 30px;
        width: 30px;
        background-image: url(../../assest/svg/icon1.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(0);
        z-index: 10;
        scale: 1.04;
        margin-bottom: -30px;
      }
    }
  }
}
