.divider {
  padding: 10px 0;
}

.category-list-parent {
  color: var(--white-color);
  &.active {
    color: var(--text-color);
    background-color: var(--primary-dark);
    border-radius: 999;
    svg {
      color: var(--white-color);
    }
  }
}

.category-list-item-child {
  li {
    border-radius: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.category-list-item {
  li {
    // border-top-left-radius: 999px;
    // border-bottom-left-radius: 999px;
    border-radius: 100vw 0 0 100vw;
    // margin-left: 50px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.category-list-item-child,
.category-list-item {
  text-decoration: none;
  color: var(--white-color);
  position: relative;

  &.active {
    color: var(--text-color);
    svg {
      color: var(--primary-icon);
    }
    li {
      background-color: var(--bg-white-color);
      width: calc(100% + 11px);
      border-radius: 100vw 0 0 100vw;
      &:hover {
        background-color: var(--bg-white-color) !important;
        opacity: 1;
      }

      &::before,
      &::after {
        --border-radius: 2rem;
        content: '';
        pointer-events: none;
        height: var(--border-radius);
        width: var(--border-radius);
        right: 0;
        position: absolute;
        background-color: transparent;
      }

      &::before {
        top: calc(var(--border-radius) * -1);
        border-radius: 0 0 100vw 0;
        box-shadow: 10px 10px 0 8px var(--bg-white-color);
      }

      &::after {
        bottom: calc(var(--border-radius) * -1);
        border-radius: 0 100vw 0 0;
        box-shadow: 10px -10px 0 8px var(--bg-white-color);
      }

      // &::before {
      //   pointer-events: none;
      //   content: '';
      //   height: 2em;
      //   width: 6em;
      //   border: -15px;
      //   position: absolute;
      //   top: -2em;
      //   right: 0em;
      //   border-radius: 0 0 999px 0;
      //   box-shadow: 65px 1px 0 0 var(--bg-white-color);
      //   background-color: transparent;
      // }

      // &::after {
      //   content: '';
      //   pointer-events: none;
      //   content: '';
      //   height: 2em;
      //   width: 6em;
      //   position: absolute;
      //   bottom: -2em;
      //   right: 0em;
      //   border-radius: 0 999px 0 0;
      //   box-shadow: 65px -1px 0 0 var(--bg-white-color);
      //   background-color: transparent;
      // }
    }
  }
}
