.account-wrap {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  .body-wrap {
    background-color: var(--white-color-outline);
    width: 500px;
    display: flex;
    justify-content: center;
    max-width: 90%;
    box-shadow: var(--box-shadow-item);
    // overflow: hidden;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    .container-wrap {
      .title {
        margin-bottom: 10px;
        display: flex;
        // justify-content: center;
        padding-left: 20px;
        flex-wrap: wrap;
        color: var(--text-color);

        h3 {
          font-weight: 500;
          align-self: center;
        }
      }

      .form-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
